# Database Configuration
DATABASE_URL="mysql://USERNAME:PASSWORD@HOST:PORT/DATABASE_NAME?schema=public"

# JWT Configuration
JWT_SECRET=supersecret # or your JWT secret

# Email Configuration for Sending Emails
EMAIL_USER=myemail@gmail.com # or your email address
EMAIL_PASS=your_email_app_password # or your email app password

# ImageKit Configuration
IMAGEKIT_PUBLIC=your_public_key # or your public key
IMAGEKIT_PRIVATE=your_private_key # or your private key
IMAGEKIT_URL=https://ik.imagekit.io/your_id # or your ImageKit URL

# Payment Configuration
PAYMENT_SERVICE_SEPAY_KEY=sepay_test_key # your payment service key
PAYMENT_BASE_URL=https://my.sepay.vn/
PAYMENT_QR_BANK_ACCOUNT=sepay_test_bank_account # your number bank: 0123456789
PAYMENT_QR_BANK_CODE=sepay_test_bank_code # your bank code: Vietcombank, Vietinbank, BIDV, Agribank, Techcombank, MB Bank, ACB, Sacombank, TPBank, VPBank, Eximbank, HDBank, SCB, MSB, SeABank
